:host{
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 16px;
}
.comment-body{
  display: grid;
  grid-gap: 8px;
}
.comment-text{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-header{
  color: var(--light-color);
  display: flex;
  justify-content: space-between;
}
.color-gray{
  color: var(--gray-color );
}
