@if (chat(); as chat) {
  <app-avatar-circle
    class="size32"
    [avatarUrl]="chat.userFrom.avatarUrl"
  ></app-avatar-circle>

  <div class="last-message__wrapper">
    <div class="name-date medium-text">
      <span class="last-name">
        {{chat.userFrom.lastName}} {{chat.userFrom.firstName}}
      </span>

      <span class="date">
        {{chat.createdAt | date: 'dd.mm'}}
      </span>
    </div>

    <div class="medium-text message-preview">{{chat.message ?? '....' }}</div>
  </div>
}
